* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  border: beige;
}

img {
  padding: 30px 0 0 60px;
  height: 205px;
  width: 205px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 50px;
}

div {
  display: flex;
  justify-content: space-around;
  background-color: rgb(109, 61, 222);
  margin-bottom: 50px;
  height: 30vh;
}

.hero-ia {
  display: flex;
  justify-content: center;
}

.hero-ia img {
  width: 150px;
  height: 150px;
}

.hero-severin {
  height: 30vh;
  background-color: rgb(242, 35, 114);
  display: flex;
  justify-content: space-between;
}

button {
  color: beige  ;
  background-color: rgb(242, 35, 114);;
  font-size: 40px;
  font-weight: 100;
  margin: 0 50px 5px 20px;
  border: 2px solid rgb(242, 35, 114);;
}
